@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.head {
  box-shadow: inset 0px -1px 0px #d1d2d6;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
}

.head-cont {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px 26px;
}

.head-logo {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #1a1b22;
}

.head-menu {
  display: flex;
}

.head-list {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  width: 112px;
  border: 1px solid black;
  border-radius: 100px;
  padding: 12px 37px 12px 19px;
}

.button-entry {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0px 12px 0px;
}

.button-entry p {
  margin-bottom: 0;
}

ul li {
  list-style: none;
  margin-right: 34px;
}

.burger-menu {
  width: 24px;
  height: 24px;
  display: none;
}

.saved-articles {
  padding: 40px 0px 56px;
}

.saved {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin-bottom: 28px;
}

.header {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin-bottom: 30px;
}

.keywords {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  height: 576px;
  position: relative;
  margin: 8px;
  background: #ffffff;
  border-radius: 16px !important;
}

.card img {
  border-radius: 16px 16px 0 0;
}

.date {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #b6bcbf;
  margin-top: 12px;
  margin-left: 24px;
}

.card-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin: 12px 24px 0px 24px;
}

.card-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  margin: 12px 24px 0px 24px;
}

.card-source {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 24px;
}

.card-keyword {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 88px;
  background-color: #fff;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.card-trash {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  height: 40px;
  width: 40px;
}

.card-trash img {
  width: 24px;
  height: 24px;
}

.btn-active-flex {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 24px;
  top: 24px;
  right: 24px;
}

.btn-active-flex-inner {
  display: flex;
}

.remove-saved {
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  height: 40px;
  width: 159px;
  margin-right: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  border-radius: 10px;
}

.cards-cont {
  padding: 62px 0px 62px;
  background-color: #f5f6f7;
}

.footer-menu {
  display: flex;
}

.footer-list {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1a1b22;
}

.copyright {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 26px;
}

.burger-menu {
  width: 24px;
  height: 24px;
  display: none;
}

.flexFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}

.footer-cont {
  margin-top: 20px;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mainFooter {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 30px;
}

.yaProfi {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 30px;
}

.footerText {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 30px;
}

.iconsFooter {
  display: flex;
  align-items: baseline;
}

.icon1 {
  margin-right: 24px;
}

.mobile {
  display: none;
}

@media (max-width: 720px) {
  .headigation {
    padding: 30px 10px 26px;
  }

  .saved-articles {
    padding: 40px 10px 56px;
  }

  .cards-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .head-menu {
    display: none;
  }

  .burger-menu {
    display: flex;
  }
}